@charset "utf-8";
body {
    background-color: #585757;
}
body h1 {
}
li {
    text-align: center;
    color: #A2B3DB;
}
p1 {
    font-size: x-large;
}
body p {
    text-align: center;
}



p {
    text-align: center;
}
