@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	Padding:0px;
	box-sizing: border-box;
}
.image{
	width:100%;
	margin-top: 100px;
	
}
img{
	height: 300px;
	width:300px;
	display: block;
	margin:auto;
	border-radius: 50%;
	border:7px solid #FFFFFF
}