@charset "utf-8";
.All-Nav {
    background-color: #777777;
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
    text-align: right;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 1500px;
    height: 80px;
}
ul li {
    display: inline;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: large;
    color: #A2B3DB;
}
nav a {
    display: inline-block;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    color: #A2B3DB;
}
ul li a:link {
    color: #A2B3DB;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: x-large;
}
ul li a:hover {
    color: #FFFFFF;
}
ul li img {
    width: 300px;
    float: left;

}
